<!DOCTYPE html>
<html>
    <head>
        <title>My Sample Silex Application</title>
    </head>
    <body>
      <!-- header -->
      <div id="header">
        <h1>My Sample Silex Application</h1>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content">
        {% block content %}{% endblock %}
      </div>
      <!-- /content -->
      <!-- footer -->
      <div id="footer">
        Powerd by <a href="http://silex.sensiolabs.org/" target="_blank">Silex</a> and <a href="http://twig.sensiolabs.org/" target="_blank">Twig</a>, and more...
        Created by <a href="https://twitter.com/m0r1" target="_blank">m0r1</a>
      </div>
      <!-- /footer -->
    </body>
</html>
